<!DOCTYPE HTML>
<html>
<head>
<title>Login Participants 1b</title>
</head>
<body>
	<form action="user" method="post">
	
	<table>
        <tr>
             <td colspan="2" align="center">Login Participants</td>
        </tr>
        <tr>
            <td>Nombre de usuario:</td>
            <td><input type="text" name="email"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="Comprobar"/>
            </td>
        </tr>
    </table>
    </form>
    
    <script>
  function checkAnswer(){
      var response = document.getElementById('answer').value;
      if (response == "correctanswer")
          location = 'http://jsbin.com/ukifoh/1'; // 'right.html';
      else
          location = 'http://jsbin.com/ukifoh/2'; // 'wrong.html';
      return false;
  }
  </script>
</body>
</html>